
   
  
    <%= simple_form_for(@survey , :as => :survey, url: { action: "create" } ,  :role => "form" , :html=>{:class=>"form-horizontal"} ) do |f| %>
      <div class="form-inputs" style="margin: 10px 20px;">
        
        <div class="form-group">
          <%= f.input :title, :label =>false,  :input_html=> { :class=> 'form-control' ,:style=>"width:100%;margin-top:5px;"}, :required => true, :placeholder=>"* Title" %>
        </div>
        
        <div class="form-group">
          <%= f.input :description, :label =>false, :required => true, :placeholder=>"* description", input_html: { :class=> 'form-control' ,:style=>"width:100%;margin-top:5px;height:50px;" , :type=>"textarea"} %>
        </div>
        
          <%= f.submit "Sign In", :id=> "", :class=>"btn btn-sml btn-primary", :style=>"margin-top:10px; ", "data-loading-text"=>"Signing In..." %>
       </div>
      
    <% end %>
