<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%= link_to "All Surveys" , survey_index_path %></li>
  <li class="active">New Survey</li>
</ol>

<h1 style="color:#fff;">Create New Survey</h1>
   
<%= render :partial => "/survey/survey_form" %>