<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">All Feedbacks</li>
</ol>

<div class="container" style="background-color:#fff" >
<h1 style="color:#000">All Feedbacks</h1>

<% if @feedbacks.any? %>
<table class="table table-striped" style="margin-top:50px;">
      <thead>
        <tr>
          <th>User </th>
          <th>Email</th>
          <th>Options</th>
        </tr>
    </thead>

	<tbody>
		<% @feedbacks.each do |feedback| %>

  		<tr>
    		<td><%= feedback.user.username %></td>
    		<td><%= feedback.user.email %></td>
    		<td><%= link_to 'View Response', survey_feedback_path(feedback.survey,feedback) %>
    		</td>
  		</tr>
		<% end %>
	</tbody>

</table>

<% else %>

  <div align="center" class="alert alert-info" style="height:100px;">
      No one has responded to this survey
  </div>

<% end %>

</div>

