
<% if flash[:alert] %>
	<div class="alert alert-warning" role="alert">
		<%= flash[:alert] %>
	</div>
<% elsif flash[:notice] %>
	<div class="alert alert-info" role="alert">
		<%= flash[:notice] %>
	</div>
<% elsif flash[:error] %>
	<div class="alert alert-error" role="alert">
		<%= flash[:error] %>
	</div>
<% end %>