
<!-- Our Lightbox -->
<div id="DIVID_LIGHT_BOX_LOADING" style="display: none;">
  <div class="Loading_spinner">
    <img src= "<%= asset_path("/assets/img/main-spinner.gif") %>" alt=""/>
  </div>
  <%#*<div style="background-repeat: repeat;border: solid 6px #c1c1c1;" align="center">%>
    <%#= image_tag "/assets/ajax_loader.gif", :title=>"Loading_block", :style=>"margin: 12px 10px 5px 10px;" %>
    <%#*<div style="font-size: 18px;margin: 6px 6px 9px 6px;">Loading...</div>%>
    <%#*<div class="clearfix"></div>%>
  <%#*</div>%>
</div>

<div id="DIV_CONFIRMATION_DIALOG_TEMPLATE" style="display: none; ">
  <%= image_tag "/assets/lightbox/confirmations/confirm_question_64.png", :title=>"Loading_block", :class=>"float-left margin-right-5 margin-top-10", :style=>"border: medium none;" %>
  <span style="font-size: 22px;">Confirm your action</span>
  <div style="margin: 5px 0px 0px 1px;width:100%;padding:1px;">
    <div class="CONFIRM_MESSAGE margin-left-60" style="height:auto;">Some custom message</div>
    <div class="cl-5"></div>
  </div>
  <%= link_to "No", "#", :class=>"btn btn-danger btn-load margin-right-10 NO_BUTTON", :onclick=>"closeLightBoxLoading();" %>
  <%= link_to "Yes", "#", :class=>"btn btn-success btn-load margin-right-10 YES_BUTTON" %>
  <div class="cl-5"></div>
</div>

<div id="DIVID_LIGHT_BOX_CONTAINER_MAIN" class="lightbox" style="border: solid 0px #889db0; display: none;">
  <div id="DIVID_LIGHT_BOX_HEADER" class="modal-header" style="background-color:#EEE; border-radius:0px; display:none;">
<%#*<button id="BTN_LIGHT_BOX_CLOSE" type="button" class="close" style="opacity: 0.4;" onclick="hidePopUpWindow();">×</button>%>
    <h3 id="DIVID_LIGHT_BOX_HEADING">Modal header</h3>
  </div>
  <div class="cl"></div>
  <div id="DIVID_LIGHT_BOX_CONTAINER" style="" class="float-left"></div>
  <div class="cl"></div>
</div>
<div id="DIVID_LIGHT_BOX_LOADING_FADE" class="black_overlay" style="display: none; height: 1800px;">
  <button id="BTN_LIGHT_BOX_CLOSE" type="button" class="btn btn-danger btn-large loat-right" onclick="hidePopUpWindow();" style="float:right;font-weight: bold;margin: -4px 16%;height: 50px;font-size: 20px; opacity: 1;">X</button>
</div>

<div class="cl"></div>

<%#= stylesheet_link_tag    "bootstrap-wysihtml5" %>
<%#= javascript_include_tag "bootstrap-wysihtml5" %>

<script type="text/javascript">
  $(function() {
    $('input, textarea').placeholder();
  });

  $(document).ready(function(){
    initializeAllLoadings();
    initializeTypeaheads();
  });

  <%#*function loadTextEditor(){%>
    <%#*$('.texteditor').wysihtml5();%>
  <%#*}%>
  //window.onload = loadTextEditor();
</script>